/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --header-color: #ffc2e6;
  --text-color: #353430;
  --sidebar-header: #ff0070;
  --block-header: #353430;
  --bg-block: #ff8dcb;
  --accent-color: #ff8dcb;
  --section-title: #353430;
  --background-image: url(../images/cover-image-light.png);
  --rec: transparent;
  --button_hover: rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --header-color: #ffc2e6;
    --text-color: #353430;
    --sidebar-header: #ff0070;
    --block-header: #353430;
    --bg-block: #ff8dcb;
    --accent-color: #ff8dcb;
    --section-title: #353430;
    --background-image: url(../images/cover-image-light.png);
    --rec: transparent;
    --button_hover: rgba(50, 49, 45, 0.4);
  }
}
