/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background: var(--background-color) var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.decorated-zone {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  position: relative;
}

.decorated-zone::after {
  content: "";
  width: 25.036px;
  height: 25.002px;
  border-bottom: 1px solid var(--section-title);
  border-left: 1px solid var(--section-title);
  position: absolute;
  left: clamp(10px, 10px + 2.54vw - 9.54px, 20px);
  bottom: clamp(10px, 10px + 2.54vw - 9.54px, 20px);
}

.decorated-zone::before {
  content: "";
  width: 25.036px;
  height: 25.002px;
  border-top: 1px solid var(--section-title);
  border-right: 1px solid var(--section-title);
  position: absolute;
  right: clamp(10px, 10px + 2.54vw - 9.54px, 20px);
  top: clamp(10px, 10px + 2.54vw - 9.54px, 20px);
}

.header__decoration {
  color: var(--rec);
  text-align: center;
  text-transform: uppercase;
  font-family: IBM Plex Mono, monospace, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  position: absolute;
  right: 38px;
  top: 10px;
}

@media (width >= 768px) {
  .header__decoration {
    right: 48px;
    top: 20px;
  }
}

.header__decoration::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--rec);
  box-shadow: 0 0 4px 2px var(--rec);
  position: absolute;
  left: 42px;
  top: 8px;
}

.header__theme-menu {
  display: flex;
  align-self: center;
  justify-self: end;
  margin: 5px 10px 0 0;
}

@media (width >= 768px) {
  .header__theme-menu {
    margin: 15px 20px 0 0;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
    margin: 20px 0 0 0;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }
}

.header__theme-menu-button {
  background: none;
  text-align: center;
  border: none;
  color: var(--section-title);
  font-family: IBM Plex Mono, monospace, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  margin-top: 1px;
  padding: 0 12px;
  display: inline-flex;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button_hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: var(--section-title) 1px solid;
}

.header__theme-menu-button_active {
  border: 1px solid var(--section-title);
  pointer-events: none;
}

.header__title {
  color: var(--header-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-family: IBM Plex Mono, monospace, sans-serif;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  margin: 0 10px;
}

@media (width >= 768px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin: 0;
  }
}

.header__theme-paragraph {
  color: var(--block-header);
  font-family: IBM Plex Mono, monospace, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  align-self: center;
  margin: 0 10px 10px 10px;
  min-width: 355px;
}

@media (width >= 768px) {
  .header__theme-paragraph {
    max-width: 47.4vw;
    justify-self: end;
    margin: 0 20px 20px 0;
  }
}

@media (width >=1024px) {
  .header__theme-paragraph {
    max-width: 47.9vw;
  }
}

.main__section {
  margin: 50px 10px 0 10px;
}

@media (width >= 768px) {
  .main__section {
    margin: 80px 20px 0 20px;
  }
}

.main__section:first-of-type {
  margin: 40px 10px 0px 10px;
}

@media (width >= 768px) {
  .main__section:first-of-type {
    margin: 60px 20px 0 20px;
  }
}

@media (width >= 768px) {
  .aside-style {
    display: grid;
    grid-template-columns: 30vw 1fr;
    column-gap: 26px;
  }
}

@media (width >= 1024px) {
  .article-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}

.title-decor {
  background-color: var(--bg-block);
}

.main__section-title {
  color: var(--section-title);
  font-family: IBM Plex Mono, monospace, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  margin-bottom: 20px;
}

@media (width >= 768px) {
  .aside-style .main__section-title {
    grid-column: 1;
    margin-bottom: 0;
  }
}

@media (width >= 768px) {
  .bar-style .main__section-title {
    width: 30vw;
  }
}

@media (width >= 1024px) {
  .bar-style .main__section-card:not(:first-of-type) {
    margin-top: 0;
  }
}

.main__section-card:not(:first-of-type) {
  margin-top: 20px;
}

.aside-style-bar .main__section-card {
  margin-top: 20px;
}

@media (width >= 768px) {
  .aside-style .main__section-card {
    grid-column: 2;
    display: flex;
    flex-direction: column;
  }
}

.main__section-subtitle {
  color: var(--block-header);
  font-family: IBM Plex Mono, monospace, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  height: min-content;
}

.main__section-paragraph {
  color: var(--text-color);
  font-family: IBM Plex Mono, monospace, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
  margin-top: 10px;
}

.main__section-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--bg-block);
}

.main__section-link:hover {
  border-bottom: var(--text-color) 1px solid;
}

.main__section-link:focus {
  outline: none;
}

.main__section-link:focus-visible {
  outline: 1px solid var(--text-color);
  outline-offset: 0.5px;
}

h4.main__section-subtitle {
  color: var(--block-header);
  font-family: IBM Plex Mono, monospace, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}

.main__subtitle-gallery {
  color: var(--block-header);
  font-family: IBM Plex Mono, monospace, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.gallery-style {
  display: grid;
  gap: 10px;
}

@media (width >= 768px) {
  .gallery-style {
    gap: 20px;
  }
}

.gallery {
  display: grid;
  gap: 10px;
}

@media (width >= 768px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}

.images {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (width >= 768px) {
  .image__sunset {
    grid-column: span 2;
  }
}

@media (width >= 768px) {
  .image__ice-cream {
    grid-row: span 2;
  }
}

@media (width >= 768px) {
  .image__tape {
    grid-row: span 2;
  }
}
@media (width >= 768px) {
  .image__books {
    grid-column: span 1;
    grid-row: span 1;
  }
}

@media (width >= 768px) {
  .image__street {
    grid-column: span 2;
  }
}

.footer {
  display: flex;
  height: 100vh;
  min-height: 668px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  position: relative;
}

@media (width >= 768px) {
  .footer {
    margin-top: 60px;
  }
}

.footer__text {
  color: var(--header-color);
  text-shadow: 2px 2px 0px var(--accent-color);
  font-family: IBM Plex Mono, monospace, sans-serif;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

@media (width >= 768px) {
  .footer__text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
